html,body{
    background-color: #999999;
    margin: 0;
    padding: 0;
    background-image: url(https://images8.alphacoders.com/133/thumb-1920-1337140.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
}

.top-header{
    background-color: #222;
}

.menu-item {
    color: rgb(255, 255, 255);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
.main-conten{
    max-width: 500px;
    margin: auto;
}

.brand {
    font-size: 18px;
    font-weight: 600;
}
.box{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 30px;
}

.image{
    width:100%;

}

.button{
    color: #000;
    background-color:rgba(39, 33, 33, 0.247);
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
} .footer {
    background-color: #6b6868c4;
    padding: 10px;
    text-align: center;
}